<a href="https://colab.research.google.com/github/AlejandroSC2512/edd_1358_2021/blob/master/12octubre1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Diccionarios (continuacion)
cliente_banco =  {
                      "id":1,
                  "nombres" :{"Juan","Antonio"},
                  "paterno" : "Gracia",
                  "materno" : "Perez",
                  "telefono" : {
                                     "casa" :5566778899,
                                "celular" : 5544332211,
                                "trabajo" : 5566223311,
                                
                                
                  },
                "activo" : True,
                "balance":234567.89,
                "tarjetas":({"tipo":"debito","saldo":12000},
                            {"tipo":"credito","saldo":3500.0})
}

print(cliente_banco)
#cliente_banco["balance"]= cliente_banco["balance"] = 1000.89
cliente_banco["balance"] -=1000.89

print(cliente_banco)
cliente_banco["tarjetas"] = ({"tipo":"debito","saldo":12000},
                             {"tipo":"credito","saldo":3500},
                             {"tipo":"credito","nivel":"oro","saldo":50000})

print(cliente_banco)
cliente_banco["direccion"]={"calle":"rancho seco","num":23}
print(cliente_banco)
cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': {'Antonio', 'Juan'}, 'paterno': 'Gracia', 'materno': 'Perez', 'telefono': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 234567.89, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': {'Antonio', 'Juan'}, 'paterno': 'Gracia', 'materno': 'Perez', 'telefono': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500.0})}
{'id': 1, 'nombres': {'Antonio', 'Juan'}, 'paterno': 'Gracia', 'materno': 'Perez', 'telefono': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': {'Antonio', 'Juan'}, 'paterno': 'Gracia', 'materno': 'Perez', 'telefono': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'tarjetas': ({'tipo': 'debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 3500}, {'tipo': 'credito', 'nivel': 'oro', 'saldo': 50000}), 'direccion': {'calle': 'rancho seco', 'num': 23}}
{'id': 1, 'nombres': {'Antonio', 'Juan'}, 'paterno': 'Gracia', 'materno': 'Perez', 'telefono': {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}, 'activo': True, 'balance': 233567.0, 'direccion': {'calle': 'rancho seco', 'num': 23}}

In [13]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
      print(x)

valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
print(pares)

for elem in pares:
  print(f" {elem[0]} = {elem[1]}")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'telefono', 'activo', 'balance', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
materno
telefono
activo
balance
direccion
1
{'Antonio', 'Juan'}
Gracia
Perez
{'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
True
233567.0
{'calle': 'rancho seco', 'num': 23}
dict_items([('id', 1), ('nombres', {'Antonio', 'Juan'}), ('paterno', 'Gracia'), ('materno', 'Perez'), ('telefono', {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}), ('activo', True), ('balance', 233567.0), ('direccion', {'calle': 'rancho seco', 'num': 23})])
 id = 1
 nombres = {'Antonio', 'Juan'}
 paterno = Gracia
 materno = Perez
 telefono = {'casa': 5566778899, 'celular': 5544332211, 'trabajo': 5566223311}
 activo = True
 balance = 233567.0
 direccion = {'calle': 'rancho seco', 'num': 23}

In [15]:
frutas = {"nombre":"manzana","color":"rojo","estado":"chihuahua"}
otras_caracteristicas = {"vitamia":"D"}
frutas.update(otras_caracteristicas)
print(frutas)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamia': 'D'}

# Funciones
Recibe de 0 a N argumentos de entrada y regresa solo un valor, aunque ese valor sea none
Tiene un nombre unico en el contexto
Se pueden hacer dos cosas con funciones:
       -Definirla
       -Llamarla

In [19]:
def suma(a,b):
  return a+b


def saludar():
  print("Hola, ¿Como estas?")
  return None
x=10
y=20
c=suma(x,y)

print(c)
saludar()

30
Hola, ¿Como estas?

#None y las funciones
Aprovechar el uso de None en paso de parametros

In [23]:
def calcular(base, veces):
  if base != None:
    resultado = base * veces
  else:
    resultado = "desconocido"
    return resultado
print(calcular(3,4))
print(calcular(None,3))

None
desconocido